<!doctype html>
<html lang="en">
<head>
    <title>Angular Test-App</title>
    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="angularPlaygroundApp">
    
    <h1>My Angular playground</h1>
    <h2>Directive</h2>
    <hello-world></hello-world>
    <hr />
    
    <h2>My TodoList</h2>
    <div class="list" ng-controller="todoCtrl">
        <h3>New Entry</h3>
        <input ng-model="newTask.name" type="text" class="editing-label" />
        <button ng-click="saveTask()" class="save">save</button>
        <h4>Your Input (live): {{newTask.name}}</h4>
        
        <div>
            <h3>TodoList: raw data</h3>
            <todo-list></todo-list>
        </div>
        
        <div>
            <h3>TodoList: repeated html and functions per task</h3>
            <ul ng-repeat="task in todolist">
                <li 
                    class="task"
                    ng-class="{'edited': task.edited}"
                >
                    <input ng-model="task.completed" type="checkbox" />
                    <label 
                           ng-click="task.editing = true" 
                           ng-hide="task.editing" 
                           class="editing-label"
                           ng-class="{'completed': task.completed}"
                    >
                        {{task.name}}
                    </label>
                    <input
                            ng-model="task.name"
                            ng-show="task.editing"
                            ng-change="task.edited = true"
                            ng-blur="task.editing = false"
                            type="text" class="editing-label"
                    />
                    <button ng-click="task.editing = !task.editing" class="edit">edit <span ng-show="task.editing">finish</span></a>
                    <button ng-show="task.editing" class="delete">delete</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="controller-test" ng-controller="parentCtrl">
        <h2>Model scope test</h2>
        <p>The Data from todoCtrl shouldn't be shown in my parentCtrl</p>
        <h4>Your Input (live): {{newTaskname}}</h4>
        
        <hr />
        
        <h2>Controller Test</h2>
        <h3>Prototypal inheritance (see console outputs)</h3>
        
        <div ng-controller="child1Ctrl" style="border:1px solid grey; margin-bottom:1em; padding:1em;">
            <h3>child 1</h3>
            <button ng-click="helloWorld()">HelloWorld</button>
            <button ng-click="whoAmI()">WhoAmI</button>
        </div>
        <div ng-controller="child2Ctrl" style="border:1px solid grey; margin-bottom:1em; padding:1em;">
            <h3>child 2</h3>
            <button ng-click="helloWorld()">HelloWorld</button>
            <button ng-click="whoAmI()">WhoAmI</button>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <script src="scripts/hello-world.js" type="text/javascript"></script>
    <script src="scripts/todolist.js" type="text/javascript"></script>
</body>
</html>